/* COMMON */
body {
    background-color: #fff4e2;
    font-family: 'Montserrat', sans-serif;
}

.wrapper {
    background-color: gray;
    max-width: 50%;
    height: 100vh;
}

/* HEADER */
header {
    background-color: #fdbc41;
    height: 100px;
}

h1 {
    padding: 20px 35px;
    padding-top: 45px;
}
/* END HEADER */

/* MAIN */
main {
    background-color: #ffffff;
    height: calc( 100% - 200px );
}

.burger-name input {
    border: none;
    font-size: 25px;
    margin: 30px;
}

.lista {
    margin: 0 30px;
}

.ingredients-list {
    list-style-type: none;
}

.ingredients-list li {
    padding: 20px;
}

li img {
    margin-right: 20px;
    width: calc(100% / 6);
    vertical-align: middle;
}

.sconto-bottone {
    text-align: center;
    margin: 20px 0;
}

.sconto-bottone button {
    background-color: #fdbc41;
    border: none;
    border-radius: 5px;
    color: black;
    padding: 15px 32px;
    font-size: 16px;
    font-weight: 700;
    margin: 4px 2px;
    cursor: pointer;
}

.sconto {
    margin: 30px 0;
}

.sconto input {
    border: none;
    width: 50%;
    background-color: #fff4e2;
    padding: 7px;
    border-radius: 5px;
    margin: 0 20px;
}
/* END MAIN */

/* FOOTER */
footer {
    background-color: #d23359;
    color: white;
    height: 100px;
    padding: 30px;
}

.prezzo-num {
    text-align: right;
}
/* END FOOTER */